{% extends "imageCompressor/header.html" %}

{% block content %}
<div class="row">
     <div class="col s6">
     	 <a href="{{MEDIA_URL}}{{fullSizeUrl}}">
     	 	<img class="responsive-img" src="{{MEDIA_URL}}{{fullSizeUrl}}" alt="Full size image"> <p>Full Size: {{fullSizeSize}} kB</p>
     	 </a>
  	</div>
	  
	<div class="col s6">
 		<a href="{{MEDIA_URL}}{{compressedUrl}}">
	      <img class="responsive-img" src="{{MEDIA_URL}}{{compressedUrl}}" alt="Compressed image"> <p>Compressed Size: {{compressedSize}} kB</p>
	  </a>
	</div>
  	<p class="center">Right click on the image and click on "Save image as" to download the image.</p>
</div>

{% endblock %}